$default-font: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$accent: #d5ebff;
$pink: #f587c2;
$dark-blue: #173d7b;
$black: #000000;
$white: #ffffff;
$shadow: 0 18px 53px rgba(0, 0, 0, 0.25);
$dark-gray: #6e6e6e;
$light-gray: #eaeaea;
$black-accent: #464646;
$text: #929191;
$border: #a3a3a3;
$grey-bg: #f1f2f4;
$border: #cecece;
$icon: #878787;
$white-bg: #fafafa;
$content-wrapper: 920px;
